<div class="widget catagory mb-30">
	<a href="#" style="font-size: 15px; text-transform: uppercase; border-bottom: 1px solid;" onclick="productSection()">Back</a>
</div>
<div class="widget catagory mb-30">
	<div class="row">
		<div class="col-12 col-lg-8">
			<div class="cart-table clearfix" id="cartTableContainer">

			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="cart-summary">
				<ul class="summary-table">
					<li><a href="#" class="btn shop-btn w-100" onclick="customerSection()">Continue Checkout</a></li>
					<li><a href="#" class="btn shop-btn w-100" onclick="customerSection()">Save My Build</a></li>
					<li><a href="#" class="btn shop-btn w-100" onclick="customerSection()">Download My Build</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
