@model IEnumerable<AquavisionConfigurator.Models.Product>

@* add to bundle or layout*@
<link href="~/Content/css/custom-style.css" rel="stylesheet" />

<div class="banner_section">
	<div class="container-fluid">
		<div id="costum_slider" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="~/Content/img/product-img/HomeImage1.jpg" alt="Image">
				</div>
				<div class="carousel-item">
					<img src="~/Content/img/product-img/HomeImage4.jpg" alt="Image">
				</div>

			</div>
			<a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
				<i class=""><img src="~/Content/img/product-img/left-arrow.png"></i>
			</a>
			<a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
				<i class=""><img src="~/Content/img/product-img/right-arrow.png"></i>
			</a>
		</div>
	</div>
</div>

<div class="services_section">
	<div class="container">
		<h1 class="services_taital">Products</h1>
		<p class="many_taital">There are many variations of passages of Lorem Ipsum </p>
		<div class="services_section2 layout_padding">
			<div class="row row-content-center">
				@foreach (var item in Model) {
					<div class="col-lg-3 col-sm-6">
						<div class="icon_1"><img src="~/Content/img/product-img/icon-1.png"></div>
						<h2 class="furnitures_text">@item.Name</h2>
						<p class="dummy_text d-none">There are many variations of passages of Lorem Ipsum available, but the</p>
						<div class="read_bt_main">
							<div class="read_bt"><a href="@Url.Action("Customise", "Product", new {productId = item.Id})">Customise</a></div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
@*<div class="projects_section">
		<div class="container">
			<h1 class="our_text">Our Applications</h1>
			<p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
			<div id="main_slider" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="projects_section2">
							<div class="container_main2">
								<div class="row">
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-4.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Residential</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-5.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Home Automation</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-6.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Hospitality</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="projects_section2">
							<div class="container_main2">
								<div class="row">
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-4.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Architects and Designers</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-5.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Marine</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-6.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Commercial</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>*@
